import(igraph, RSQLite)

importMethodsFrom(AnnotationDbi,
                  "select")

importMethodsFrom(DBI,
                  "dbDriver",
                  "fetch")

importFrom("grDevices", "col2rgb", "colors", "grey.colors")
importFrom("methods", "is")
importFrom(
  "graphics",
  "abline",
  "legend",
  "lines",
  "par",
  "plot",
  "points",
  "polygon",
  "symbols",
  "text"
)
importFrom("stats", "as.dist", "cor", "lm", "na.omit")
importFrom("utils",
           "data",
           "download.file",
           "read.delim",
           "unzip",
           "write.table")

exportPattern("^[[:alpha:]]+")
